*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --tenne-tawny:#d65108;
}
body{
    /* background-color: rgb(238, 238, 238); */
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
    color: #d65108;
}
.search-control,.search-btn{
    width: 100%;
}
.search-control{
    color: #d65108;
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: #d65108;
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background-color: #d65108;
    color: aliceblue;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
}
.search-btn:hover{
    background: #d65108;
}
.meal-result{
    margin-top: 4rem;
}
.meal-item{
    border-radius: 10px;
    /* overflow: hidden;x    */
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.79);
    margin: 2rem 0;
}
.meal-img img{  
    width: 100%;
    display:block;
    border-top: 5px;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-item h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: aliceblue;
    background: #d65108;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    
}
.recipe-btn:hover{
    background: #d65108;

}
#meal{
    display: grid;
    grid-template-columns:400px 400px 400px;
    gap: 2rem;
}
.meal-item{
    margin: 0;

}

.showrecipe{
    display: block;
}
.meal-details-content{
    margin: 2rem;
}
.notFound{
    grid-template-columns:auto auto auto;
    color: #d65108;
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    /* margin-left: 100px; */
    
}
.bg{
    height: 50%;
    width: 50%;
    position: sticky;
}
.recipe-category{
    background: white;
    font-weight: 600;
    color: #d65108;
    display: inline-block;
    border-radius: 2px;
}


@media screen and (min-width:600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;

    }
}

@media screen and (min-width:768px){
  
}
